---
import Layout from "../components/Layout.jsx"; // 使用 React 组件管理页面状态
---

<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>Astro + Rust</title>
  </head>
  <div>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <Layout client:load />
  </div>
</html>

